

a {
	/*color: #227191;*/
	outline: 0;
	font-weight: normal;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #de5800;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}


li {
	list-style: none;cursor:pointer;
	
}
